[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "survival.svb"]
	path = survival.svb
	url = https://github.com/mkomod/survival.svb
